spring:
  datasource:
    url: jdbc:postgresql://localhost:9902/db_cofre_forte
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update   # validate | update | create | create-drop | none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect